
<div style="width:70%;margin:auto;">
<h1>  Ruby Footprints </h1>

<p>
  <%= image_tag('tiny-footprint.png') %> Ruby Footprints is actually a Facebook application.  It can be reached at <%= link_to(url = url_for(:action => 'index', :canvas => true, :only_path => false), url)  %>
</p>
</div>

